.orrery {
  @apply relative
  mx-auto;
}

.sun {
  @apply absolute
  bg-yellow-300
  rounded-full
  top-1/2
  left-1/2
  -translate-x-1/2
  -translate-y-1/2
  shadow-[0_0_200px_0_rgb(255,255,255)]
  shadow-amber-200;
}

.orbit,
.moonOrbit {
  @apply absolute
  left-1/2
  top-1/2
  border
  border-white
  border-opacity-10
  rounded-full
  origin-center;
  /* -translate-x-1/2
  -translate-y-1/2;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

.orbit {
  animation-name: orbitCCW;
}

.moonOrbit {
  @apply border-none;
}

.planet,
.moon {
  @apply absolute
  rounded-full
  top-0
  left-1/2
  -translate-x-1/2
  -translate-y-1/2
  z-40;
}

@keyframes orbitCCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes orbitCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
