.orrery {
  position: relative;
  margin: 0 auto;
  background-color: black;
}

.sun {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit,
.moonOrbit {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: orbitCCW linear infinite;
}

.moonOrbit {
  border: none;
}

.moonOrbit.Triton {
  animation: orbitCW linear infinite;
}

.planet,
.moon {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(54, 54, 255);
}

.moon {
  background-color: blue;
}

@keyframes orbitCCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes orbitCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
