@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-screen
  w-full
  overflow-hidden;
  background: radial-gradient(rgb(35, 12, 36), rgb(2, 6, 23));
}

a {
  @apply underline
  hover:no-underline
  hover:text-slate-200
  active:text-slate-50;
}
